# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.xcuserdatad

# Build products
build/
*.ipa
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Carthage
Carthage/Build/